@font-face {
    font-family: "charter";
    src: url("charter_bold_italic-webfont.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "charter";
    src: url("charter_bold-webfont.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "charter";
    src: url("charter_italic-webfont.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "charter";
    src: url("charter_regular-webfont.ttf");
    font-weight: normal;
    font-style: normal;
}
